<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <script src="assets/js/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="/bower_components/ngmap/build/scripts/ng-map.min.js"></script>
    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controller.js"></script>
    <script src="assets/js/model.js"></script>
    <link rel="stylesheet" href="assets/css/style.css"> </head>

<body ng-app="weatherinfo">
    <div ng-controller="weatherCntr">
        <form ng-submit="submitForm()">
            <input type="text" placeholder="Enter City Name" ng-model="cityName">
            <input type="Submit" value="Submit"> </form>
        <table border="1">
            <thead>
                <tr>
                    <td>City</td>
                    <td>Temprature</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cityobj in cityData">
                    <td width="500px">
                        <div id="map">
                            <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
                                <ng-map center="{{cityobj.leti}},{{cityobj.lon}}" zoom="{{zoom}}"></ng-map>
                            </div>
                        </div>
                    </td>
                    <td>
                        <canvas id="myChart "></canvas>{{cityobj.temp}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>